body {
  font-family: 'Montserrat', regular;
  margin: 20px;
  padding: 20px;
  background-color: #d9d1ff;
}

header {
  background-color: #333333;
  color: #d6d6d6;
  padding: 30px;
  text-align: center;
}

header h1 {
  font-size: 40px;
  margin-bottom: 2px;
}

header p {
  font-size: 18px;
  margin: 2px;
}

header .image {
  margin-top: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

table {
  width: 80%;
  margin: 40px auto;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

table th, table td {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #333;
  color: #fff;
}

table td ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

table td ul li {
  margin-bottom: 5px;
}

table td img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
  color: #333;
  margin-top: 40px;
  font-size: 24px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
}

ul li {
  margin-bottom: 10px;
}

ol {
  margin-top: 0;
  margin-bottom: 20px;
}

ol li {
  margin-bottom: 20px;
}

















