@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Montserrat.ttf");
}
* {
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
body {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 1.5;
  color: #3d5677;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
header {
  background-color: #686868;
  color: #e4e3e3;
  padding: 30px;
  text-align: center;
}
header h1 {
  margin: 0;
  font-size: 26px;
}
header p {
  margin: 20px;
  font-size: 20px;
}
header .image {
  border-radius: 50%;
  margin-top: 10px;
}
main {
  font-size: 20px;
  padding: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}
table th {
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #8d8d8d;
}
table th {
  background-color: #c2dbfa;
}
section {
  font-size: 18px;
  margin-bottom: 50px;
  padding: 2px;
}
section h2 {
  font-size: 24px;
  margin: 20px;
}
section ul {
  font-size: 18px;
  list-style-type: circle;
  padding: 30px;
}
section ul li {
  font-size: 18px;
  margin-bottom: 10px;
}
section ol li {
  font-size: 18px;
  padding: 0;
  margin: 0;
}
.image {
  max-width: 100%;
  height: auto;
}