@font-face {
  font-family: Montserrat;
  src: url("assets/fonts/Montserrat.ttf");
}
* {
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
body {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 1.5;
  color: #2d415c;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
header {
  background-color: #373838;
  box-shadow: 10px 3px 25px rgb(196, 167, 40);
  color: #e4e3e3;
  padding: 10px;
  text-align: center;
  }
header h1 {
  margin: 0;
  font-size: 20px;
}
header p {
  font-size: 18px;
  margin: 10px;
}
header .image {
  border-radius: 50%;
  box-shadow: 10px 3px 25px rgb(196, 167, 40);
  margin-top: 10px;
}
main {
  font-size: 16px;
  padding: 50px;
  box-shadow: 10px 3px 25px rgb(196, 167, 40);
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}
  img {
    height: 500px;
    width: 500px;
    padding: 20px;
  }
table th {
  box-shadow: 10px 3px 25px rgb(196, 167, 40);
  margin: 10px;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #e4e3e3;
}
table th {
  background-color: #e4e3e3;
}
section {
  font-size: 14px;
  margin-bottom: 50px;
  padding: 2px;
  box-shadow: 10px 3px 25px rgb(196, 167, 40);
}
section h2 {
  font-size: 20px;
  margin: 20px;
}
section ul {
  font-size: 16px;
  list-style-type: circle;
  padding: 30px;
  margin: 5px;
}
section ul li {
  font-size: 16px;
  padding: 5px;
  margin: 5px;
}
section ol li {
  font-size: 16px;
  padding: 5px;
  margin: 5px;
}

.image {
  max-width: 100%;
  height: auto;
}
